<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    <title>DEEPSHIELD</title>
    <link rel="stylesheet" href="{{url_for(static, filename='style2.css')}}">
    <title> Request Detection Scanner
    </title>
</head>
<body>
    <header>
        <img  src="deepshield.jpg" href="WAFHome.html" alt="DEEPSHIELD Logo" class="logo">
        <h1>DEEPSHIELD</h1>
    </header>
    <nav>
        <a href="WAFHome.html">Home</a>
        <a href="Test.html">Demo</a>
        <a href="WAFDashboard.html">Dashboard</a>
        <a href="WAFContact.html">Contact</a>
    </nav>
    <div class="banner">
        <div>
            <h1>We Help Securing Businesses <br>to Grow and Succeed</h1>
            <p>With our security expertise, we provide secure solutions to meet your fears.</p>
        </div>
    </div>
    <div id="about" class="container2">
        <h1 style="text-decoration: underline;">Scan Request</h1>
        <p>Insert the payload -- Based on ML model -- it'll be either malicious or safe payload</p>
        <div class="section">
            <input class="textbox" type="text" placeholder="Payload" id="payload">
            <button class="button" onclick="isMalicious();">Is Malicious</button>
        </div>
    </div>

    <script>

        function isMalicious() {
          var payload = document.getElementById('payload').value;
          var maliciousWords = ['<script>', 'select', 'from', 'where', 'table', 'alert'];
          var isMalicious = false;
          for (var i = 0; i < maliciousWords.length; i++) {
            if (payload.includes(maliciousWords[i])) {
              isMalicious = true;
              break;
            }
          }
          if (isMalicious) {
            alert('Error 403 Forbidden: ' + payload + ' is malicious', {color: 'red'});  
    } else {
            alert('Payload: ' + payload + ' is safe', {color: 'green'});
          }
          redirectToHome();
        }
      </script>

          </div>
    <div id="contact" class="footer">
        <p>Contact us at help@Deepshield.com</p>
        <div class="social-icons">
            <a href="https://www.facebook.com" class="fa fa-facebook"></a>
            <a href="https://www.twitter.com" class="fa fa-twitter"></a>
            <a href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a>
            <a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
</body>
</html>

